<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST">
        {% csrf_token %}
        <input  name="name" placeholder="Enter Name">
        <input  name="email" placeholder="Enter Email">
        <input name="age" placeholder="Enter Age">
        <input name="course" placeholder="Enter Course">
        <button type="submit">Register</button>
    </form>
</body>
</html>